use_goma = false  # Googlers only. Make sure goma is installed and running first.
is_debug = true  # Enable debugging features.
use_debug_fission = false # Not supported by EMCC
use_custom_libcxx = false # Needed for EMScripten

pdf_use_skia = false  # Set true to enable experimental skia backend.
pdf_use_skia_paths = false  # Set true to enable experimental skia backend (paths only).

pdf_enable_xfa = false  # Set false to remove XFA support (implies JS support).
pdf_enable_v8 = false  # Set false to remove Javascript support.
pdf_is_standalone = true  # Set for a non-embedded build.
is_component_build = false # Disable component build (must be false)

clang_use_chrome_plugins = false  # Currently must be false.

use_sysroot = false  # Currently must be false on Linux.
use_allocator_shim = false
use_system_libjpeg = true
use_system_zlib = true
